<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <title>Andrew Trepagnier - about me</title>
    <style>
        a { color: red;}
    </style>
    <meta name="description" content="Andrew Trepagnier, About me" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>

        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->





</head>
<body>

  <header class="header-block row">
    <div class="blog-title">
     <a href="http://127.0.0.1:8000/"><h1>about me.</h1> </a>
<!--<a href="http://www.andrewtrepagnier.com"><h1>ANDREW TREPAGNIER</h1> </a>-->
<!--        <center><h2>Andrew Trepagnier</h2></center>-->


        <!--HREF needs to be changed when new domain is added-->
    </div>



  </header>



<section class="post-list post-content"><div class="post-data">


<center>
    <h4>
         "Andrew produces high quality work with minimum supervision..."<br><br>
    "Through his devotion to help us wherever needed and even working overtime
    alongside us to help us meet deadlines, Andrew proved to be a team player that
    puts the overall need of the team first."
    </h4>
    <h5>
    <b>- Weston Breland, Project Engineer /Co-op Coordinator at Ergon Refining, Inc.</b>
    </h5>
</center>
    <br>

    <h3><u><b>Education</b></u></h3>
    <h4>Mississippi State, Trinity University</h4>

    <h3><u><b>Studies</b></u></h3>
    <h4>Mechanical Engineering Undergrad</h4>

    <h3><u><b>Hometown</b></u></h3>
    <h4>New Roads, La</h4>

 <br>

        <h3><b>What is this?</b></h3>
   <p>
       Hey everyone, this is my webpage. I coded this website with <a href="https://www.djangoproject.com/start/overview/" style = "color: grey">django</a>, HTML, and CSS because I wanted to learn web development.
       <br><br>
       I use it now as my professional profile. You can learn more about me below, or read my blog posts about new tech, management, personal projects, and more.

   </p>

    <h3><b>My Timeline</b></h3>
    <h4><b>May 2020 - Catholic High of Pointe Coupee</b></h4>
    <p>I graduated top 3 in my high school class with all honors and ultimately attended <a href="https://www.trinity.edu/">Trinity University</a> in San Antonio, Texas.
    <br><br>
        While at CHSPC, I was a 4x Louisiana State Level Science Fair <a href="https://www.facebook.com/photo.php?fbid=2048908475222179&id=426377174141992&set=a.447136325399410&locale=az_AZ&paipv=0&eav=AfZdqC51W8GTDhcrM8liKOdKuNRQx3EnRilR8kC5Z1czGCYXdIz_4qeeJSgBq4fiBGQ&_rdr">Winner</a>
        and I initiated my school's Mu Alpha Theta Mathematics Chapter. Competing in science fairs were extremely impactful in my life. It was the first time
        I could learn about something I was really interested in and compete with other like-minded students.
        <br><br>
        Upon graduation, I was a recipient several prestigious scholarships, including Trinity's $108,000 Murchison Scholarship, Exxon Mobil's $40,000 Teagle Scholarship(1 of 113 selected globally), and National Beta's $1000 Scholarship(1 of 245 selected nationally).
    </p>
        <br>
      <h4><b>2020-2022 - Trinity University</b></h4>
    <p>

        Trinity was the perfect place to start my engineering education. I met alot of really great people and got involved in several clubs and teams.
        I walked on as a student athlete for Trinity's Men's Collegiate Basketball Team and was a member of the Trinity Motorsports Team.
        <br><br>

        The Trinity Motorsports team was my first engineering club experience. I modelled miscellaneous parts in CAD, such as the throttle control stabilizer, and rapidly prototyped them with 3-D printers.
        Some of these parts are still on the car to this day.

    </p>
      <br>
      <h4><b>2022-Present - Mississippi State University</b></h4>
    <img src="https://www.brand.msstate.edu/identity/images/seal.png">
    <p>
        While I did love Trinity, I ultimately choose to transfer to a school that had an accredited mechanical engineering curriculum. Mississippi State was
        my perfect option, as it had robust engineering resources and still allowed me to stay out-of-state and meet new people.
    </p>
    <br>
    <p>
        At MSU, I dived into all of their engineering and entrepreneurship resources and connected with a lot of great students, faculty, and alumni. I tried a
        ton of different clubs and organizations and ultimately found the ones I enjoy the most and spent my free time developing.
        <br><br>
        Off campus, I developed my professional and technical engineering skills by working as a project/maintenance engineer co-op at
        Ergon Refining, Inc in Vicksburg, MS. I still credit this decision as one of the best I've ever made. My managers treated me like a full-time
        engineer. I was tasked with many high caliber projects that required me to learn quickly from my mistakes, fix them, and move on. After working as a co-op at ERI for almost a
        year now, I learned a couple key things about project engineering:

        <ol>
    <li><b>It always takes longer than it does.</b></li>
    <p>
        ERI's senior project coordinator told me this one day, and it has become the Mantra of project engineering for me. We tend to estimate things in an
        idealized way, when in reality there are contingencies in time. Shipping delays, cold emails, rescheduled meetings - All of these are inevitable and should be
        considered accordingly.
    </p>
        <li><b>Ownership</b></li>
    <p>
        Great engineers know how to implement this into every project they work on. They take pride in the work they produce.

    </p>
        <li><b>Hungry, Humble, Smart</b></li>
    <p>
        These are the three quality traits of a strong worker detailed in the book, "<a href="https://www.amazon.com/Ideal-Team-Player-Recognize-Cultivate/dp/1119209595">The Ideal Team Player"</a> by Patrick Lencioni. My manger gave me
        this book personally to learn from how to balance each attribute to be an outstanding leader.
    </p>

    </ol>
<br>
    <p>
        I carried the core skills I learned at ERI over with me to each school semester rotation. My classes became extremely interesting. I could connect things I was learning with
        how they were used in the field and I could leverage my new leadership skills within my on-campus organizations.
    </p>
<br>
    <img src="https://media.licdn.com/dms/image/D5622AQGtxZbRDGRHQw/feedshare-shrink_800/0/1714668915508?e=1719446400&v=beta&t=BBcSuYEjSTBW6tI85pk4kE6rwU5kG_zg6km2H0tuxco">
<br>
    <p>
        One of my favorite organizations on campus is MSU's <a href="https://ecenter.msstate.edu/programs/venturecatalyst/">Venture Catalyst Program</a>. My friend and I co-founded SkyPasture,
        an agricultural drone-based technology start-up that uses our custom AI-powered software to help cattle farmers get analytical insights into their herd. SkyPasture
        has raised $750 in MSU Spark Grant Funding and is currently in stage 2 of the Venture Catalyst program.

    </p>
    <br>
    <p>
        Through my childhood, and even more so now, I always loved building things that I thought were cool. Projects for me would typically begin with me not
        understanding something that I found fascinating, like LiDAR, Laser Interferometry, Web Development, AI and more. Science fair and years of personal projects introduced me to the art of building something thouroughly, but Venture Catalsyt
        kindled my passion for a new side of projects I was never exposed to before -Buisness.
    </p>
    <br>
    <p>
        Being a memeber of Venture Catalyst - being a founder - being a forward-thinking innovator changed my entire life. It was a taste of the full
        process of innovation, from the conception of idea to a scalable, growing business. I didn't want to do anything else but make my career of this perfect intersection of engineering and business after starting in Venture Catalyst.
        Today, I compete in business model competitions with my start-up where I pitch in front of audiences, meet other like-minded student entrepreneurs, and network with tons of successful start-up founders and business leaders.
    </p>
<br>
    <p>
        The MSU Bagley Engineering Student Council is my newest organization that I am honored to be a part of. There are currently 4 ESC officers that act as the liaisons between
        MSU's Bagley College of Engineering and the engineering student body. From organizing the MSU <a href="https://www.career.msstate.edu/events">Career Expo</a> to helping provide resources to engineering students,
        we work to ensure our fellow classmates are getting the most out of their education in Bagley. Each officer represents their unique engineering department, Software, Electrical, Biomedical, and Mechanical(my department!), so it is
        it is an exciting and invaluable experience to get to work in a structured, cross-disciplined organization.
    </p>


    <p>

    </p>


</section>



  <section class="footer">
    <div class="footer-inner row">

      <div class="col-md-12">

        <p class="description">
          Email: andrew[at]andrewtrepagnier[dot]com
        </p>
      </div>
      <div class="col-md-12">
        <a href="home.html">Home</a>&nbsp;&nbsp;
        <a href="page.html">About</a>&nbsp;&nbsp;
        <a href="contact.html">Contact</a>&nbsp;&nbsp;
        <a href="404.html">404 page</a>&nbsp;&nbsp;

          </div>


    </div>
  </section>


  <section class="copyright">&copy; 2017</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>



    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script src="js/bootstrap.min.js"></script>

 </body>
</html>
