
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<LINK REL="SHORTCUT ICON" HREF="/favicon.ico">
<!--<meta name="verify-v1" content="EihoHNYA9Y+7PiGJ2x7xF0Op9o4GLrpIDfoZWMwtqEU=" /> -->
<meta NAME="description" CONTENT="andrew trepagnier - my website">
<meta NAME="keywords" CONTENT="andrew trepagnier, entrepreneurship, startups">
<!--<meta name="google-site-verification" content="vCeO3CV8FJe-D8eGdad1NEinIQRglIAU4wmR84L_Xik" />-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Andrew Trepagnier - AndrewTrepagnierDotCom</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- {% load static %}-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">-->
<!--<script type="text/javascript" src="//use.typekit.net/dve1rrt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->

	<style>
		body {
            font-family: Arial, sans-serif;
        }
	</style>
</head>




<body>

	<div id="home">


		<h1>Andrew Trepagnier dot com</h1>
		<h2>I'm Andrew Trepagnier, I like start-ups, engineering, and making cool things. Currently:  <a href="https://www.me.msstate.edu/"> Msstate</a>;
			Previously: <a href="https://ecenter.msstate.edu/summit/">MSU Start-Up Summit Winner</a>, <a href="https://www.slce.msstate.edu/student-leadership/mlp"> Montgomery Leadership Scholar</a>, and Trinity University <a href="https://www.trinity.edu/directory/departments-offices/student-financial-services/financial-aid/scholarship/murchison"> (Murchison Scholar)</a>.<br/><br/>Looking forward to hearing from you.</h2>

</div>

<div id="footer">

<div align="center">

<br/><br/>

	<h4><span class="style12">Learn more <a href="aboutme/"> about me </a> </span></h4>

	<h4><span class="style12"> I write, check out my <a href="">blog archives</a></span></h4>

<h4><p><span class="style12">email: andrew [at] andrewtrepagnier [dot] com</span></p></h4>

<h4><span class="style12">Connect on <a href="https://www.linkedin.com/in/andrewtrepagnier/">LinkedIn</a> </span></p></h4>

</div>

</body>
</html>
</body>
</html>